/*
  copy from TEMPLATED
*/

@charset "UTF-8";

/*@font-face {
  font-family:
}*/


/* Baisc*/

body {
  /*background: #111111 url() repeat;*/
}

body, input, textarea, select {
  font-family: 'Raleway', sans-serif;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.75em;
  color: #393939;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ff0000;
}

a:hover {
  text-decoration: underline;
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
}

blockquote {
  border-left: solid 0.5em #ddd;
  padding: 1em 0 1em 2em;
  font-style: italic;
}

p, ul, ol, dl, table {
  margin-bottom: 1em
}

header {
  margin-bottom: 2em;
}

header h2 {
  font-size: 2.8em;
}

header .byline {
  display: block;
  margin-top: 0.5em;
  padding: 0.5em 0;
  text-transform: uppercase;
  font-size: 1.4em;
}

footer {
  margin-top: 1em;
}

br .clear {
  clear: both;
}


/*image*/

.image {
  display: inline-block;
}

.image img {
  display: block;
  width: 100%;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image.full {
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

.image.left {
  float: left;
  margin: 0 2em 2em 0;
}

.image.centered {
  display: block;
  margin: 0 0 2em 0;
}

.image.centered img {
  margin: 0 auto;
  width: auto;
}


/*list*/

ul.default {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.default li {
  padding: 0.8em 0em;
  border-top: 1px solid;
  border-color: rgb(255, 255, 255, .2);
}


/*Header*/

#header-wrapper {
  padding: 0em;
  background: #333 no-repeat center;
  background-size: cover;
}

#header {
  position: relative;
  padding: 3em 0em;
}

#header .container {
  position: relative;
  padding: 3em 0em;
}


/*Logo*/

#logo {
  position: absolute;
  left: 0em;
  top: 1.7em;
}

#logo h1 {}

#logo a {
  display: block;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 2.4em;
  font-weight: 600;
}


/*Nav*/

#nav {
  position: absolute;
  right: 0em;
  top: 1.1em;
}

#nav>ul>li {
  list-style: none;
  float: left;
}

#nav>ul>li:last-child {
  padding-right: 0;
}

#nav>ul>li>a, #nav>ul>li>span {
  display: block;
  margin-left: 0.7em;
  padding: 0.8em 1.2em;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1em;
  outline: 0;
  color: #252525;
}

#nav li.active a {
  background: #c61732;
  border-radius: 5px;
  color: #FFF;
}

#nav>ul>li>ul {
  display: none;
}


/*Banner*/

#banner {
  margin: 0 0em;
  padding: 0;
  position: relative;
  text-align: center;
  color: #fff;
}
